exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "hist", "par", "segments")
importFrom("grDevices", "rgb")
importFrom("stats", "aggregate","coefficients", "lm", "median", "model.matrix",
             "model.response", "plot.ts", "quantile", "resid", "rgamma",
             "rnorm", "sd", "var")
importFrom("quadprog","solve.QP")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
import(shiny)

